<div class="container ">
    
            <div class="col-md-12">
                <div class="row">
                    <img [src]="img1" >
                    <img [src]="img2" >
                   
                </div>
            </div>
        </div>
        
        <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-center">
            <div>
            <button class="btn btn-primary" (click)="Page1()">Back[1]</button>   
        </div>
        
        
        <div>
            <button class="btn btn-success" (click)="Page2()">Back[2]</button>   
        </div>
        </div>
    
 

